#zk配置
zookeeper.curator.address={{ zookeeper_addrress }}
zookeeper.curator.sessionTimeoutMs=3000
zookeeper.curator.connectionTimeoutMs=3000
zookeeper.curator.retryTimes=10
zookeeper.curator.sleepMsBetweenRetries=3000
zookeeper.curator.path.configVersion={{ versionPath }}
